#city {
	background: url('road.png');
	background-size: cover;
	min-height: 100vh;
	position: relative;
}

.toplinework{ /* this div holds all of the top line work*/
  margin-bottom: 0px;
  height: 50px;
}

.tL1 {
	border-top: 2px solid white;
  width: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tL2 {
	border-top: 2px solid white;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tL3 {
	border-top: 2px solid white;
  width: 35%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 4-6 are the skinny slim margin lines above the thick sL7 line */
.tL4 {
	border-top: 2px solid white;
	width: 41%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tL5 {
	border-top: 2px solid white;
  width: 44%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tL6 {
	border-top: 2px solid white;
  width: 47%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tL7 {
  margin-top: 5px;
  margin-bottom: 5px;
  /* height: 45px; */
	border-top: 8px solid white;
  width: 50%;
  position: relative;
}

.tl7::before{
  content: '';
  display: block;
  position: absolute;
  top: calc(-2.9rem - 2px);
  left: calc(50% - 1px);
  width: 2px;
  height: calc(2.5rem + 1px);
  background: white;
}

.sH1{
	font-weight: bolder;
	color: #fff;
	letter-spacing: 8px;
	font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0px;
}
.sH2{
	font-weight: bolder;
	color: rgb(255, 254, 254);
	letter-spacing: 15px;
	font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0px;
}

.bottomlinework{ /* this div holds all of the bottom line work*/
  margin-bottom: 0px;
  height: 50px;
}

.bL1 {
	border-top: 2px solid white;
  width: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bL2 {
	border-top: 2px solid white;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bL3 {
	border-top: 2px solid white;
  width: 35%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 4-6 are the skinny slim margin lines above the thick sL7 line */
.bL4 {
	border-top: 2px solid white;
	width: 41%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bL5 {
	border-top: 2px solid white;
  width: 44%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bL6 {
	border-top: 2px solid white;
  width: 47%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bL7 {
  margin-top: 5px;
  margin-bottom: 5px;
  /* height: 45px; */
	border-top: 8px solid white;
  width: 50%;
  position: relative;
}

.bl7::before{
  content: '';
  display: block;
  position: absolute;
  top: calc(0rem - 1px);
  left: calc(50% - 1px);
  width: 2px;
  height: calc(2.5rem + 1px);
  background: white;
}

/* h2 {
	color: #ffffa0;
	font-size: 18px;
	letter-spacing: 9px;
	border: 5px solid rgb(49, 113, 129);
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.2);
} */

.bio {
	color: white;
	font-size: 1em;
	/* text-align: center; */
}

.lineDivider {
	border: none;
	height: 1px;
	background-color: pink;
	padding-bottom: 10px;
	opacity: 100;
}
