#city {
	background: url('building.png');
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.nameDev {
  margin-top: 0;
  margin-bottom: 0;
}
.toplinework {
	/* this div holds all of the top line work*/
	margin-bottom: 0px;
	height: 50px;
}
.line{
  border-top: 2px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}
#l1 {
  width: 10%;
}
#l2 {
  width: 25%;
}
#l3 {
  width: 35%;
}

#l4 {
	width: 41%;
}
#l5 {
  width: 44%;
}
#l6 {
  width: 47%;
}

.thickLine{
  margin-top: 5px;
  margin-bottom: 0px;
	border-top: 8px solid white;
  width: 50%;
  position: relative;
}

.thickLine::before{
  content: '';
  display: block;
  position: absolute;
  height: calc(2.5rem + 1px);
  top: calc(-2.9rem - 2px);
  left: calc(50% - 1px);
  width: 2px;
  background: white;
}

.sH1{
	font-weight: bolder;
	color: #A0FFFF;
	letter-spacing: 8px;
	font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0px;
}
.sH2{
	font-weight: bolder;
	color: #CFFFA0;
	letter-spacing: 15px;
	font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0px;
}

.bottomlinework{ /* this div holds all of the bottom line work*/
  transform: rotate(180deg);
  margin-bottom: 0px;
  height: 50px;
}

/* iPhone MAX Media Query */
@media screen and (max-width: 414px) {
	.sH1 {
		letter-spacing: 6px;
		font-size: 1.5rem;
	}
	.sH2 {
		letter-spacing: 10px;
		font-size: 1rem;
  }
  .toplinework {
    height: 40px;
  }
  .bottomlinework {
    height: 40px;
  }
  .thickLine{
    border-top: 4px solid white;
    width: 70%;
  }
  .thickLine::before{
    height: calc(2.3rem + 1px);
    top: calc(-2rem - 8px);
    width: 1px;
  }
  .line{
    border-top: 1px solid white;
  }
  #l1 {
    width: 20%;
  }
  #l2 {
    width: 35%;
  }
  #l3 {
    width: 45%;
  }
  
  #l4 {
    width: 55%;
  }
  #l5 {
    width: 60%;
  }
  #l6 {
    width: 65%;
  }
}
/* SMALL SCREEN MEDIA QUERY */
@media screen and (max-width: 320px) {
	.sH1 {
		letter-spacing: 6px;
		font-size: 1.5rem;
	}
	.sH2 {
		letter-spacing: 10px;
		font-size: 1rem;
  }
  .toplinework {
    height: 40px;
  }
  .bottomlinework {
    height: 40px;
  }
  .thickLine{
    border-top: 4px solid white;
    width: 85%;
  }
  .thickLine::before{
    height: calc(2.3rem + 1px);
    top: calc(-2rem - 8px);
    width: 1px;
  }
  .line{
    border-top: 1px solid white;
  }
  #l1 {
    width: 40%;
  }
  #l2 {
    width: 50%;
  }
  #l3 {
    width: 60%;
  }
  
  #l4 {
    width: 70%;
  }
  #l5 {
    width: 75%;
  }
  #l6 {
    width: 80%;
  }
}

.bio {
	color: white;
	font-size: 1em;
	/* text-align: center; */
}

.lineDivider {
	border: none;
	height: 1px;
	background-color: pink;
	padding-bottom: 10px;
	opacity: 100;
}
